<a href="https://colab.research.google.com/github/RaviSankar10/Assignment1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd

# Load the dataset into a pandas DataFrame
url = 'https://drive.google.com/uc?id=1lhocqzf8GJowTW7HAGLfKFMuifSy-l6i'
df = pd.read_csv(url)

# Displaying the first few rows of the dataset
print("Dataset loaded successfully. First few rows:")
print(df.head())

Dataset loaded successfully. First few rows:
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine  \
0              41000    Diesel       Manual      First  19.67 kmpl  1582 CC
1              46000    Petrol       Manual      First    13 km/kg  1199 CC
2              87000    Diesel       Manual      First  20.77 kmpl  1248 CC
3              40670    Diesel    Automatic     Second   15.2 kmpl  1968 CC
4              86999    Diesel       Manual      First  23.08 kmpl  1461 CC

       Power  Seats  New_Price  Price
0  126.2 bhp    5.0        NaN  12.50
1   88.7 bhp    5.0  8.61 Lakh   4.50
2  88.76 bhp    7.0        NaN   6.00
3  140.8 bhp    5.0        NaN  17.74
4   63.1 bhp    5.0        NaN   3.50

In [23]:
# Look for missing values
print("\nMissing values before handling:")
print(df.isnull().sum())

# Impute missing values for numerical columns with mean
df.fillna(df.mean(), inplace=True)

# Drop remaining rows with missing values
df.dropna(inplace=True)

# Displaying missing values after handling
print("\nMissing values after handling:")
print(df.isnull().sum())

Missing values before handling:
Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

Missing values after handling:
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

<ipython-input-23-81b28ec4ed2d>:6: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [25]:
# Remove units from attributes
df['Kilometers_Driven'] = df['Kilometers_Driven'] / 1000

print("\nAfter removing units from 'Kilometers_Driven':")
print(df['Kilometers_Driven'])

After removing units from 'Kilometers_Driven':
1        46.000
5        36.000
8        25.692
13      110.000
18       32.982
         ...
5827     10.000
5830     38.000
5833     37.208
5838     33.746
5842     27.365
Name: Kilometers_Driven, Length: 814, dtype: float64

In [26]:
# Change categorical variables into one hot encoded values
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'])

print("\nAfter one-hot encoding categorical variables:")
print(df.head())

After one-hot encoding categorical variables:
    Unnamed: 0                               Name Location  Year  \
1            2                       Honda Jazz V  Chennai  2011
5            7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
8           10                   Maruti Ciaz Zeta    Kochi  2018
13          15        Mitsubishi Pajero Sport 4X4    Delhi  2014
18          20                  BMW 3 Series 320d    Kochi  2014

    Kilometers_Driven Owner_Type     Mileage   Engine       Power  Seats  \
1              46.000      First    13 km/kg  1199 CC    88.7 bhp    5.0
5              36.000      First  11.36 kmpl  2755 CC   171.5 bhp    8.0
8              25.692      First  21.56 kmpl  1462 CC  103.25 bhp    5.0
13            110.000      First   13.5 kmpl  2477 CC  175.56 bhp    7.0
18             32.982      First  22.69 kmpl  1995 CC     190 bhp    5.0

     New_Price  Price  Fuel_Type_Diesel  Fuel_Type_Petrol  \
1    8.61 Lakh   4.50                 0                 1
5      21 Lakh  17.50                 1                 0
8   10.65 Lakh   9.95                 0                 1
13  32.01 Lakh  15.00                 1                 0
18  47.87 Lakh  18.55                 1                 0

    Transmission_Automatic  Transmission_Manual
1                        0                    1
5                        1                    0
8                        0                    1
13                       0                    1
18                       1                    0

In [27]:
# Create a new feature for the current age of the car
from datetime import datetime
current_year = datetime.now().year
df['Current_age'] = current_year - df['Year']

print("\nAfter adding 'Current_age' feature:")
print(df.head())

After adding 'Current_age' feature:
    Unnamed: 0                               Name Location  Year  \
1            2                       Honda Jazz V  Chennai  2011
5            7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
8           10                   Maruti Ciaz Zeta    Kochi  2018
13          15        Mitsubishi Pajero Sport 4X4    Delhi  2014
18          20                  BMW 3 Series 320d    Kochi  2014

    Kilometers_Driven Owner_Type     Mileage   Engine       Power  Seats  \
1              46.000      First    13 km/kg  1199 CC    88.7 bhp    5.0
5              36.000      First  11.36 kmpl  2755 CC   171.5 bhp    8.0
8              25.692      First  21.56 kmpl  1462 CC  103.25 bhp    5.0
13            110.000      First   13.5 kmpl  2477 CC  175.56 bhp    7.0
18             32.982      First  22.69 kmpl  1995 CC     190 bhp    5.0

     New_Price  Price  Fuel_Type_Diesel  Fuel_Type_Petrol  \
1    8.61 Lakh   4.50                 0                 1
5      21 Lakh  17.50                 1                 0
8   10.65 Lakh   9.95                 0                 1
13  32.01 Lakh  15.00                 1                 0
18  47.87 Lakh  18.55                 1                 0

    Transmission_Automatic  Transmission_Manual  Current_age
1                        0                    1           13
5                        1                    0            8
8                        0                    1            6
13                       0                    1           10
18                       1                    0           10

In [28]:
# Displaying the first few rows of the processed dataset
print("\nProcessed dataset:")
print(df.head())

# Summary statistics
print("\nSummary statistics:")
print(df.describe())

Processed dataset:
    Unnamed: 0                               Name Location  Year  \
1            2                       Honda Jazz V  Chennai  2011
5            7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
8           10                   Maruti Ciaz Zeta    Kochi  2018
13          15        Mitsubishi Pajero Sport 4X4    Delhi  2014
18          20                  BMW 3 Series 320d    Kochi  2014

    Kilometers_Driven Owner_Type     Mileage   Engine       Power  Seats  \
1              46.000      First    13 km/kg  1199 CC    88.7 bhp    5.0
5              36.000      First  11.36 kmpl  2755 CC   171.5 bhp    8.0
8              25.692      First  21.56 kmpl  1462 CC  103.25 bhp    5.0
13            110.000      First   13.5 kmpl  2477 CC  175.56 bhp    7.0
18             32.982      First  22.69 kmpl  1995 CC     190 bhp    5.0

     New_Price  Price  Fuel_Type_Diesel  Fuel_Type_Petrol  \
1    8.61 Lakh   4.50                 0                 1
5      21 Lakh  17.50                 1                 0
8   10.65 Lakh   9.95                 0                 1
13  32.01 Lakh  15.00                 1                 0
18  47.87 Lakh  18.55                 1                 0

    Transmission_Automatic  Transmission_Manual  Current_age
1                        0                    1           13
5                        1                    0            8
8                        0                    1            6
13                       0                    1           10
18                       1                    0           10

Summary statistics:
        Unnamed: 0         Year  Kilometers_Driven       Seats       Price  \
count   814.000000   814.000000         814.000000  814.000000  814.000000
mean   3016.988943  2015.883292          40.318428    5.309582   13.759054
std    1781.836729     2.383294          28.851943    0.798203   14.904356
min       2.000000  2001.000000           0.600000    2.000000    0.700000
25%    1508.500000  2015.000000          20.451750    5.000000    5.102500
50%    2915.500000  2017.000000          34.669500    5.000000    8.250000
75%    4673.000000  2017.000000          53.453250    5.000000   17.500000
max    6014.000000  2019.000000         215.000000    8.000000  160.000000

       Fuel_Type_Diesel  Fuel_Type_Petrol  Transmission_Automatic  \
count        814.000000        814.000000              814.000000
mean           0.544226          0.455774                0.382064
std            0.498346          0.498346                0.486191
min            0.000000          0.000000                0.000000
25%            0.000000          0.000000                0.000000
50%            1.000000          0.000000                0.000000
75%            1.000000          1.000000                1.000000
max            1.000000          1.000000                1.000000

       Transmission_Manual  Current_age
count           814.000000   814.000000
mean              0.617936     8.116708
std               0.486191     2.383294
min               0.000000     5.000000
25%               0.000000     7.000000
50%               1.000000     7.000000
75%               1.000000     9.000000
max               1.000000    23.000000